<!-- Esse 'header' improvisado leva à página principal de cada modelo (onde poderemos fazer Crud)-->
<span><a href="/">Itens       </a></span><span><a href="/categoria">Categorias       </a></span><span><a href="/autor">Autores       </a></span><span><a href="/editora">Editoras       </a></span>
<br>
<h1>Editora</h1>
<ul>
  {% for editora in editoras %}
  <li>
    {{ editora.name }} - <a href="{% url 'editora_update' editora.pk %}">Edit</a> -
    <a href="{% url 'editora_delete' editora.pk %}">Delete</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'editora_create' %}">New Editora</a>
